body {
  --transition-props: 200ms linear;

  --padding-vertical: calc(1rem * 0.5);
  --padding-horizontal: 1rem;

  --font-size-base: 17px;
  --line-height-base: 1.65;
  --font-family-base: 'Monaco', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
