.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.main {
  padding: 24px;
}

.header {
  text-align: right;
  background-color: var(--background-dimmed);

  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 12px;
  }

  .navlink {
    font-weight: bold;
    transition: color var(--transition-props);

    &-active {
      color: var(--accent);
    }
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;
}
