.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.main {
  padding: 24px;
}

.header {
  text-align: right;
  background-color: var(--background-dimmed);

  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 12px;

    .navlink {
      &-active {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
  justify-content: center;
}
