.root {
  padding: var(--padding-vertical) var(--padding-horizontal);
  text-align: right;
  background-color: var(--background-dimmed);

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    gap: 12px;
  }

  .navlink {
    font-weight: bold;
    transition: color var(--transition-props);

    &-active {
      color: var(--accent);
      text-shadow: 0px 0px 4px var(--accent);
    }
  }
}
